# auto_mpg 데이터 전처리 ----------------------

- 1. 단위 변환 => 컬럼 추가
- 2. 자료형 검사 및 변환
- 3. origin 컬럼에 대한 라벨 => 컬럼 추가

In [1]:
import pandas as pd
import numpy as np
DIR = '../../Data/'
FILE = DIR+'auto_mpg.csv'
FILE

'../../Data/auto_mpg.csv'

In [2]:
autoDF = pd.read_csv(FILE)
autoDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [3]:
autoDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [4]:
# 전체 column에 대한 unique() 고유값

for col in autoDF.columns:
    print(f'{col}----------\n{autoDF[col].unique()}\n')

mpg----------
[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

cylinders----------
[8 4 6 3 5]

displacement----------
[307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ]

horsepower----------
['130' '165' '150' '140' '198' '220' '215' '225' '190' '170' '160' '95'
 '97' '85' '88' '46' '87' '90' '113' '200' '210' '193' '?' '100' '105'
 '175' '153' '180' '110' '72' '86' '70' '76' '65' '69' '60' '80' '54'
 '208' '155' '112' '92' '145' '137' '158' '167' '94' '107' '230' '49' '75'
 '91' '122' '67' '83' '78' '52' '61' '93' '148' '129' '96' '71' '98' '115'
 '53' '81' '79' '120' '152' '102' '108' '68' '58' '149' '89' '63' '48'
 '66' '139' '103' '125' '133' '138' '135' '142' '77' '62' '132' '84' '64'
 '74' '116' '82']

weight----------
[3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 3563 3609 3761 3086
 2372 2833 2774 2587 2130 1835 2672 2430 2375 2234 2648 4615 4376 4382
 4732 2264 2228 2046 2634 3439 3329 3302 3288 4209 4464 4154 4096 4955
 4746 5140 2962 2408 3282 3139 2220 2123 2074 2065 1773 1613 1834 1955
 2278 2126 2254 2226 4274 4385 4135 4129 3672 4633 4502 4456 4422 2330
 3892 4098 4294 4077 2933 2511 2979 2189 2395 2288 2506 2164 2100 4100
 3988 4042 3777 4952 4363 4237 4735 4951 3821 3121 3278 2945 3021 2904
 1950 4997 4906 4654 4499 2789 2279 2401 2379 2124 2310 2472 2265 4082
 4278 1867 2158 2582 2868 3399 2660 2807 3664 3102 2875 2901 3336 2451
 1836 2542 3781 3632 3613 4141 4699 4457 4638 4257 2219 1963 2300 1649
 2003 2125 2108 2246 2489 2391 2000 3264 3459 3432 3158 4668 4440 4498
 4657 3907 3897 3730 3785 3039 3221 3169 2171 2639 2914 2592 2702 2223
 2545 2984 1937 3211 2694 2957 2671 1795 2464 2572 2255 2202 4215 4190
 3962 3233 3353 3012 3085 2035 3651 3574 3645 3193 1825 1990 2155 2565
 3150 3940 3270 2930 3820 4380 4055 3870 3755 2045 1945 3880 4060 4140
 4295 3520 3425 3630 3525 4220 4165 4325 4335 1940 2740 2755 2051 2075
 1985 2190 2815 2600 2720 1800 2070 3365 3735 3570 3535 3155 2965 3430
 3210 3380 3070 3620 3410 3445 3205 4080 2560 2230 2515 2745 2855 2405
 2830 3140 2795 2135 3245 2990 2890 3265 3360 3840 3725 3955 3830 4360
 4054 3605 1925 1975 1915 2670 3530 3900 3190 3420 2200 2150 2020 2595
 2700 2556 2144 1968 2120 2019 2678 2870 3003 3381 2188 2711 2434 2110
 2800 2085 2335 2950 3250 1850 2145 1845 2910 2420 2500 2905 2290 2490
 2635 2620 2725 2385 1755 1875 1760 2050 2215 2380 2320 2210 2350 2615
 3230 3160 2900 3415 3060 3465 2605 2640 2575 2525 2735 2865 3035 1980
 2025 1970 2160 2205 2245 1965 1995 3015 2585 2835 2665 2370 2790 2295
 2625]

acceleration----------
[12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6]

model year----------
[70 71 72 73 74 75 76 77 78 79 80 81 82]

origin----------
[1 3 2]

car name----------
['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'plymouth satellite custom' 'ford torino 500' 'amc matador'
 'pontiac catalina brougham' 'dodge monaco (sw)'
 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'amc ambassador sst' 'mercury marquis' 'buick lesabre custom'
 'oldsmobile delta 88 royale' 'chrysler newport royal' 'mazda rx2 coupe'
 'amc matador (sw)' 'chevrolet chevelle concours (sw)'
 'ford gran torino (sw)' 'plymouth satellite custom (sw)'
 'volvo 145e (sw)' 'volkswagen 411 (sw)' 'peugeot 504 (sw)'
 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'chevrolet malibu'
 'ford gran torino' 'dodge coronet custom' 'mercury marquis brougham'
 'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
 'chrysler new yorker brougham' 'buick electra 225 custom'
 'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
 'volkswagen super beetle' 'ford country' 'plymouth custom suburb'
 'oldsmobile vista cruiser' 'toyota carina' 'datsun 610' 'maxda rx3'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'chevrolet nova' 'datsun b210' 'chevrolet chevelle malibu classic'
 'plymouth satellite sebring' 'buick century luxus (sw)'
 'dodge coronet custom (sw)' 'audi fox' 'volkswagen dasher' 'datsun 710'
 'dodge colt' 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'mercury monarch' 'chevrolet bel air'
 'plymouth grand fury' 'buick century' 'chevroelt chevelle malibu'
 'plymouth fury' 'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
 'toyota corolla' 'pontiac astro' 'volkswagen rabbit' 'amc pacer'
 'volvo 244dl' 'honda civic cvcc' 'fiat 131' 'capri ii' 'renault 12tl'
 'dodge coronet brougham' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'dodge aspen se' 'ford granada ghia' 'pontiac ventura sj'
 'amc pacer d/l' 'datsun b-210' 'volvo 245' 'plymouth volare premier v8'
 'mercedes-benz 280s' 'cadillac seville' 'chevy c10' 'ford f108'
 'dodge d100' 'honda accord cvcc' 'buick opel isuzu deluxe'
 'renault 5 gtl' 'plymouth arrow gs' 'datsun f-10 hatchback'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'dodge colt m/m'
 'subaru dl' 'datsun 810' 'bmw 320i' 'mazda rx-4'
 'volkswagen rabbit custom diesel' 'ford fiesta' 'mazda glc deluxe'
 'datsun b210 gx' 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'ford fairmont (auto)'
 'ford fairmont (man)' 'plymouth volare' 'amc concord'
 'buick century special' 'mercury zephyr' 'dodge aspen' 'amc concord d/l'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'datsun 510' 'dodge omni' 'toyota celica gt liftback' 'plymouth sapporo'
 'oldsmobile starfire sx' 'datsun 200-sx' 'audi 5000' 'volvo 264gl'
 'saab 99gle' 'peugeot 604sl' 'volkswagen scirocco' 'honda accord lx'
 'pontiac lemans v6' 'mercury zephyr 6' 'ford fairmont 4'
 'amc concord dl 6' 'dodge aspen 6' 'ford ltd landau'
 'mercury grand marquis' 'dodge st. regis' 'chevrolet malibu classic (sw)'
 'chrysler lebaron town @ country (sw)' 'vw rabbit custom'
 'maxda glc deluxe' 'dodge colt hatchback custom' 'amc spirit dl'
 'mercedes benz 300d' 'cadillac eldorado' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'toyota corolla tercel' 'datsun 310' 'ford fairmont'
 'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
 'mazda glc' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'dodge aries wagon (sw)' 'toyota starlet'
 'plymouth champ' 'honda civic 1300' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'datsun 200sx'
 'peugeot 505s turbo diesel' 'volvo diesel' 'toyota cressida'
 'datsun 810 maxima' 'oldsmobile cutlass ls' 'ford granada gl'
 'chrysler lebaron salon' 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'ford fairmont futura' 'amc concord dl' 'volkswagen rabbit l'
 'mazda glc custom l' 'mazda glc custom' 'plymouth horizon miser'
 'mercury lynx l' 'nissan stanza xe' 'honda civic (auto)' 'datsun 310 gx'
 'buick century limited' 'oldsmobile cutlass ciera (diesel)'
 'chrysler lebaron medallion' 'ford granada l' 'toyota celica gt'
 'dodge charger 2.2' 'chevrolet camaro' 'ford mustang gl' 'vw pickup'
 'dodge rampage' 'ford ranger' 'chevy s-10']

In [5]:
autoDF['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [6]:
autoDF[autoDF['horsepower']=='?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [7]:
for idx in range(0,len(autoDF.index)):
    if autoDF['horsepower'][idx] == '?':
        autoDF['horsepower'][idx]=autoDF['horsepower'][idx].replace('?','0')

C:\Users\ss\AppData\Local\Temp\ipykernel_8908\2245788152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  autoDF['horsepower'][idx]=autoDF['horsepower'][idx].replace('?','0')

In [8]:
# 컬럼에서 다른 문자 ? 처리하기
autoDF['horsepower'].replace(0, np.nan, inplace=True)

In [9]:
autoDF['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '0', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [10]:
# horsepower 컬럼에서 Missing Value 처리
# Missing Value 대체값 => 컬럼 평균 => mean()

In [11]:
autoDF['horsepower'] = autoDF['horsepower'].astype('int64')
autoDF.info()
# autoDF['horsepower'] = pd.to_numeric(autoDF['horsepower'], errors = 'coerce') ==> . 이있으면 float
                                                              #없으면 int로 변경

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [12]:
# 체크 : duplicated() => True/False
# 처리 : drop_duplicated() => 파라미터 세팅
autoDF.duplicated().sum()

0

In [13]:
# mpg => kml 단위 변환값 컬럼 추가 km/l = mpg * 0.425
# autoDF['kml'] = autoDF['mpg']*0.425 ==> 새로운 컬럼 제일 끝 컬럼으로
autoDF.insert(1, 'kml', autoDF['mpg']*0.425) # 1번째 컬럼에 kml의 컬럼명 그리고 컬럼 데이터
autoDF

,mpg,kml,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,7.650,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,6.375,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,7.650,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,6.800,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,7.225,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,18.700,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,13.600,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,11.900,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,13.175,4,119.0,82,2720,19.4,82,1,chevy s-10

In [20]:
def locNum(row):
    if row == 1:
        return 'USA'
    elif row == 2:
        return 'EUR'
    else:
        return 'JAP'

In [21]:
autoDF['locNum'] = autoDF['origin'].apply(locNum)
autoDF

,mpg,kml,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,locNum
0,18.0,7.650,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,USA
1,15.0,6.375,8,350.0,165,3693,11.5,70,1,buick skylark 320,USA
2,18.0,7.650,8,318.0,150,3436,11.0,70,1,plymouth satellite,USA
3,16.0,6.800,8,304.0,150,3433,12.0,70,1,amc rebel sst,USA
4,17.0,7.225,8,302.0,140,3449,10.5,70,1,ford torino,USA
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86,2790,15.6,82,1,ford mustang gl,USA
394,44.0,18.700,4,97.0,52,2130,24.6,82,2,vw pickup,EUR
395,32.0,13.600,4,135.0,84,2295,11.6,82,1,dodge rampage,USA
396,28.0,11.900,4,120.0,79,2625,18.6,82,1,ford ranger,USA
397,31.0,13.175,4,119.0,82,2720,19.4,82,1,chevy s-10,USA

In [22]:
autoDF['origin'].row

AttributeError: 'Series' object has no attribute 'row'

In [14]:
# origin 컬럼을 지역으로 바꾸고 컬럼 추가
autoDF['origin'].unique()

array([1, 3, 2], dtype=int64)

In [15]:
oriList = []
for i in range(1,4):
    oriList.append(autoDF[autoDF['origin']==i])
print(oriList)

for i in oriList:
    print(i.head(2), '\n')

[      mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0   7.650          8         307.0         130    3504          12.0
1    15.0   6.375          8         350.0         165    3693          11.5
2    18.0   7.650          8         318.0         150    3436          11.0
3    16.0   6.800          8         304.0         150    3433          12.0
4    17.0   7.225          8         302.0         140    3449          10.5
..    ...     ...        ...           ...         ...     ...           ...
392  27.0  11.475          4         151.0          90    2950          17.3
393  27.0  11.475          4         140.0          86    2790          15.6
395  32.0  13.600          4         135.0          84    2295          11.6
396  28.0  11.900          4         120.0          79    2625          18.6
397  31.0  13.175          4         119.0          82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
392          82       1           chevrolet camaro
393          82       1            ford mustang gl
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[249 rows x 10 columns],       mpg      kml  cylinders  displacement  horsepower  weight  acceleration  \
19   26.0  11.0500          4          97.0          46    1835          20.5
20   25.0  10.6250          4         110.0          87    2672          17.5
21   24.0  10.2000          4         107.0          90    2430          14.5
22   25.0  10.6250          4         104.0          95    2375          17.5
23   26.0  11.0500          4         121.0         113    2234          12.5
..    ...      ...        ...           ...         ...     ...           ...
354  34.5  14.6625          4         100.0           0    2320          15.8
359  28.1  11.9425          4         141.0          80    3230          20.4
360  30.7  13.0475          6         145.0          76    3160          19.6
375  36.0  15.3000          4         105.0          74    1980          15.3
394  44.0  18.7000          4          97.0          52    2130          24.6

     model year  origin                      car name
19           70       2  volkswagen 1131 deluxe sedan
20           70       2                   peugeot 504
21           70       2                   audi 100 ls
22           70       2                      saab 99e
23           70       2                      bmw 2002
..          ...     ...                           ...
354          81       2                   renault 18i
359          81       2     peugeot 505s turbo diesel
360          81       2                  volvo diesel
375          82       2           volkswagen rabbit l
394          82       2                     vw pickup

[70 rows x 10 columns],       mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
14   24.0  10.200          4         113.0          95    2372          15.0
18   27.0  11.475          4          97.0          88    2130          14.5
29   27.0  11.475          4          97.0          88    2130          14.5
31   25.0  10.625          4         113.0          95    2228          14.0
53   31.0  13.175          4          71.0          65    1773          19.0
..    ...     ...        ...           ...         ...     ...           ...
382  34.0  14.450          4         108.0          70    2245          16.9
383  38.0  16.150          4          91.0          67    1965          15.0
384  32.0  13.600          4          91.0          67    1965          15.7
385  38.0  16.150          4          91.0          67    1995          16.2
390  32.0  13.600          4         144.0          96    2665          13.9

     model year  origin               car name
14           70       3  toyota corona mark ii
18           70       3           datsun pl510
29           71       3           datsun pl510
31           71       3          toyota corona
53           71       3    toyota corolla 1200
..          ...     ...                    ...
382          82       3         toyota corolla
383          82       3            honda civic
384          82       3     honda civic (auto)
385          82       3          datsun 310 gx
390          82       3       toyota celica gt

[79 rows x 10 columns]]
    mpg    kml  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0  7.650          8         307.0         130    3504          12.0
1  15.0  6.375          8         350.0         165    3693          11.5

   model year  origin                   car name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320

     mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
19  26.0  11.050          4          97.0          46    1835          20.5
20  25.0  10.625          4         110.0          87    2672          17.5

    model year  origin                      car name
19          70       2  volkswagen 1131 deluxe sedan
20          70       2                   peugeot 504

     mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
14  24.0  10.200          4         113.0          95    2372          15.0
18  27.0  11.475          4          97.0          88    2130          14.5

    model year  origin               car name
14          70       3  toyota corona mark ii
18          70       3           datsun pl510

In [16]:
# 1-> usa 2 => eur 3=> jpy

#autoDF['region'] = autoDF['origin'].replace({1: 'USA', 2: 'EUR', 3: 'JPY'})
#autoDF['region']
autoDF.insert(9, 'region', autoDF['region'])

KeyError: 'region'

In [ ]:
autoDF

In [ ]:
# origin, region int64/object 기본자료형=> 범주형 category
autoDF[['origin', 'region']]= autoDF[['origin', 'region']].astype('category')
autoDF.dtypes

In [ ]:
# horsepower 컬럼 타입 변경 int 연속형 ==> 범주형 category 변환
# 구간 => 라벨 horsepower_low, horsepower_normal, horsepower_high
autoDF['horsepower'] = pd.cut(autoDF['horsepower'], bins=3, 
       labels=['horsepower_low', 'horsepower_normal', 'horsepower_high'],
       include_lowest=True)
autoDF['horsepower'].value_counts()

In [ ]:
autoDF['horsepower'] = autoDF['horsepower'].astype('category')

In [ ]:
autoDF

In [ ]:
# horsepower 컬럼의 One-Hot
oneHot = pd.get_dummies(autoDF['horsepower'])

In [ ]:
pd.concat([autoDF,oneHot], axis=1)

#### 데이터 정규화

- 수치데이터 컬럼마다 값의 범위가 다름
- 값의 범위 0~1 / -1~1 로 값을 설정

##### (3-3-1) 방법 : 컬럼의 최대값의 절대값으로 전체 데이터를 나누기

In [ ]:
abs(autoDF['weight'].max()),autoDF['weight'].max(),autoDF['weight'].min()

In [ ]:
autoDF['weight_nor']=autoDF['weight'] / abs(autoDF['weight'].max())
autoDF['weight_nor'].min(), autoDF['weight_nor'].max()

In [ ]:
numerator = autoDF['weight'] - autoDF['weight'].max()
denominator = autoDF['weight'].max() - autoDF['weight'].min()

autoDF['weight_nor2'] = numerator/denominator
autoDF['weight_nor2']

##### (3-3-3) 방법 : 컬럼의 데이터 - 평균 / 표준편차 ==> Z.score

In [ ]:
numerator = autoDF['weight'] - autoDF['weight'].mean()
denominator = autoDF['weight'].std()

autoDF['weight_nor_3']=numerator/denominator
autoDF['weight_nor_3'].min(), autoDF['weight_nor_3'].max()

In [ ]:
autoDF[['weight', 'weight_nor2', 'weight_nor_3']]

In [ ]:
def calCol(colName):
    
    for i in range(0,len(autoDF.columns)):
        if autoDF.columns[i] == colName:
            numerator = autoDF[colName] - autoDF[colName].max()
            denominator = autoDF[colName].max() - autoDF[colName].min()

            autoDF[colName+'nor'] = numerator/denominator
    return autoDF[colName+'nor']
calCol('displacement')
autoDF

In [ ]:
nums = ['a','b','c','d']
idx = 0
for num in num:
    print(num, idx)
print('--------------------')
for idx, num in enumerate(nums):
    for idx, num in numerator(nums):
        print(num, idx)